h1{
    text-align:center;
    font-family:sans-serif;
}
.header{
    width:100%;
    padding:0px;
    margin:0px;
}
.navbar{
    margin: 0px;
    padding:0px;
    background-color:#000;
    width:100%;
    list-style: none;
    height:60px;
}
.navlogo{
    width:10%;
    height:100%;
    float:left;
}
.logo{
    position: relative;
    left:25%;
    height: 100%;
    width:auto;
}
.navtitle{
    width:30%;
    height:auto;
    float:left;
    font-size:53px;
    font-family: sans-serif;
}
.navbtn{
    position: relative;
    float:left;
    width:calc(50% / 4);
    text-align: center;
    height:calc(100% - 15px);
    background-color:#000;
    color:#fff;
    font-family: sans-serif;
    padding-top:15px;
    font-size: 28px;
    border-radius: 1px;
    cursor: pointer;
}
